@font-face {
    font-family: "Ra-Mono";
    src: url( "Ra-Mono.otf" );
}

:root {
    --border-color: #3D4B62;
    --button-background: #2A313A80;
    --magic-color: #000000B0;
    --placeholder-color: #404C56;
    --text-color: #ECF0F3;
}

body {
    background: repeating-conic-gradient( black 0% 25%, #101214 25% 50% ) center / 30px 30px;
    margin: 0; overflow: hidden;
}

#cover {
    position: fixed; width: 100vw; height: 100vh;
    z-index: 10; pointer-events: none;
    transition: all 0.5s ease-in;
    background: black;
}

#canvas {
    width: 100vw; height: 100vh;
    object-fit: scale-down;
}

input {
    outline: none; border: none;
    color: var(--text-color);
    font: bold 14px Ra-Mono;
    text-align: center;
    background: none;
    margin: 0 6px;
}

input::placeholder {
    color: var(--placeholder-color);
}

input[short] {
    width: 50px;
}

input[long] {
    width: 80px;
}

.text {
    color: var(--text-color); margin: 0 10px;
    white-space: nowrap; user-select: none;
    font: bold 14px Ra-Mono;
}

.divider {
    align-self: stretch; border-left: 1px solid var(--border-color);
}

.button {
    user-select: none; cursor: pointer;
    color: var(--text-color); font: bold 14px Ra-Mono;
    height: 22px; line-height: 24px;
    background: var(--button-background);
    padding: 0 5px; margin: 0 4px;
}

.button:hover {
    filter: brightness(1.2);
}

.button:active {
    filter: none;
}

#panel {

    position: fixed; bottom: 20px; left: 50vw;
    transform: translateX(-50%);

    display: flex; flex-direction: row;
    background: var(--magic-color);
    padding: 10px; gap: 10px;

}

#panel > * {
    height: 30px; display: flex; align-items: center;
    border: 1px solid var(--border-color);
}

#board {

    position: fixed; top: 50vh; right: 20px;
    transform: translateY(-50%);

    display: flex; padding: 10px;
    gap: 10px; flex-direction: column;

    background: var(--magic-color);

}

.controller {
    display: grid; place-items: center;
    grid-template: "x ." 31px "x ." 29px / auto auto;
    border: 1px solid var(--border-color);
}

.controller > *:nth-child(1) {
    grid-area: x; user-select: none; cursor: pointer;
    border-right: 1px solid var(--border-color);
}

.controller > *:nth-child(2) {
    width: 32px; height: 30px; text-align: center;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color); font: bold 14px Ra-Mono;
    user-select: none; line-height: 30px;
}

.controller > *:nth-child(3) {
    color: var(--text-color);
    font: bold 14px Ra-Mono;
    user-select: none;
}
